@font-face {
    font-family: Yekan;
    src: url('fonets/Yekan.eot');
    src: url('fonets/Yekan.eot?#iefix') format('fonets/Yekan-opentype'), url('fonets/Yekan.woff') format('woff'), url('fonets/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    text-align: center;
    font-family: Yekan;
}

#wt {
    display: inline;
}

#click{
    background-color : #011627 ;
    color:#fdfffc;
    border-radius:15px;
    
}

#click:hover{
    box-shadow: 10px 10px 10px rgb(184, 177, 177);
    
}

d{
    color: rgb(85, 147, 64);
}